.container{
    background-color: #f1f1f1;
    min-height: 100vh;
    color: #5e6873;
    padding: 2% 0 2% 0 !important;
    width: 100%;
}

.section_1_container{
    padding: 1.2%;
    margin-bottom: 3%;
    height: 400px;
}


.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fseccion_button{
    width: 35%;
}


.f_seccion_left{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ffffff;
    justify-content: center;
    padding: 6% 0 6% 7% !important;
    align-items: center;
}

.second_section{
    padding: 1%;
}


.card_content_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card_text{
    height: 200px;
    text-wrap: pretty;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.last_part{
    padding: 0 6%;
}

.card_content{
    padding-top: 30px;
    border-radius: 12px;
    padding-inline: 15px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
}

.avatar_images{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card_header{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
}