.nav {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    background-color: #0d2137;
    color: #ffffff;
    width: 100%;
    box-shadow: 0px -1px 4px rgba(84, 94, 106, 0.5);
    height: 90px;
}


.nav_logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    margin-right:8%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
}

.nav_menu{
    width: 100%;
}

.nav_menu_ul{
    display: flex;
    margin-right: 4%;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    height: 100%;
}

.nav_menu_ul > li {
    font-size: 20px;  
}

.link{
    text-decoration: none;
    color: hsl(0, 0%, 92%);
}

.link:hover{
    color: #cecece;
    border-bottom: 3px solid #b5b5b5;
    padding-bottom: 3px;
}


.nav_acc{
    display: flex;
    align-items: center;
}


.vertical_line{
    border-left: 1.55px solid #ffffff;
    height: 60%;
}

.action_container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-left: 5%;
    gap: 3%;
}

/* .action_container > button{
    height: 60%;
    width: 40%;
    background-color: #fb3434;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    color: #ffffff;
} */