.container {
    max-height: 100vh;
    /* margin-top: 2%; */
    color: #5e6873;
    /*margin-bottom: 3%;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.grid_container{
    height: 100%;
    margin: 0;
    position: relative;
}

.container_map{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.grid_card{
    min-height: 670px;
}

.container_info{
    height: 90px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    width: 40%;
    padding: 1%;
    margin-top: 132px;
}

.first_forecast{
    margin-left: 2%;
}

.second_forecast{
    margin-left: 10px;
}

.info_title{
    padding: 0% 1.5%;
    text-wrap: pretty;
    color: #0d2137;
}

.info_title > h2{
    margin-bottom: 2%;
}

.info_inputs{
    width: 90%;
    background-color: #e6eaed;
    border-radius: 9px;
}

.info_inputs_menu{
    width: 15%;
    background-color: #e6eaed;
    border-radius: 9px;
}

.multiple_inputs{
    display: flex;
}

.first_part_inputs{
    z-index: 1000;
    display: flex;
    width: 100%;
}

.column_container{
    padding: 0;
}

.modal_container{
    position: absolute;
    top: 10px;
    z-index: 410;
    background-color: #ffff;
    width: 98%;
    left: 50%;
    padding: 8px 25px;
    transform: translateX(-50%);
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.vertical_line{
    border: 0.10px solid #0d213791;
    height: inherit;
    margin: 4px 1%;
}